<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <h1>Quiz Manager</h1>
    <table>
        <thead>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, iStat : ${questions}">
            <td th:text="${iStat.index + 1}"></td>
            <td th:text="${question.question}"></td>
            <td><a th:href="@{/quiz/questions/{id}/answers(id=${question.quizId})}">View Answers</a></td>
            <td><a th:href="@{/quiz/edit/{id}(id=${question.quizId})}">Edit</a></td>
            <td><a th:href="@{/quiz/delete/{id}(id=${question.quizId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/quiz}">New Quiz</a></p>
</div>
</html>