<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz Manager</title>
</head>
<div>
    <h1>Quiz Manager</h1>
    <table>
        <thead>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, iStat : ${questions}">
            <td th:text="${iStat.index + 1}"></td>
            <td th:text="${question.question}"></td>
            <td><a th:href="@{/quiz/questions/answers/{id}(id=${question.questionId})}">View Answers</a></td>
            <td><a th:href="@{/quiz/{quizId}/question/{questionId}(questionId=${question.questionId},quizId=${question.quizId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/quiz/{quizId}/question/new/(quizId=${questions[0].quizId})}">New Question</a></p>
</div>
</html>